<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.readme.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".control.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".control.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.BookEditActivity"
            android:label="@string/title_activity_book_edit"
            android:parentActivityName=".control.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".control.MainActivity" />
        </activity>
        <activity
            android:name=".control.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.SettingsTheme"
            android:parentActivityName=".control.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".control.MainActivity" />
        </activity>
        <activity
            android:name=".control.UserEditActivity"
            android:label="@string/title_activity_user_edit"
            android:parentActivityName=".control.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".control.SettingsActivity" />
        </activity>
        <activity
            android:name=".control.UsersListActivity"
            android:label="@string/title_activity_users_list"
            android:parentActivityName=".control.SettingsActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".control.SettingsActivity" />
        </activity>
    </application>

</manifest>