<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.readme.app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".view.activity.UserEditActivity"
            android:label="@string/title_activity_user_edit"
            android:parentActivityName=".view.activity.SettingsActivity" />
        <activity
            android:name=".view.activity.BookEditActivity"
            android:label="@string/title_activity_book_edit"
            android:parentActivityName=".view.activity.MainActivity" />
        <activity
            android:name=".view.activity.SeriesEditActivity"
            android:label="@string/title_activity_series_edit"
            android:parentActivityName=".view.activity.MainActivity" />
        <activity
            android:name=".view.activity.MovieEditActivity"
            android:label="@string/title_activity_movie_edit"
            android:parentActivityName=".view.activity.MainActivity" />
        <activity
            android:name=".view.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".view.activity.MainActivity" />
        <activity
            android:name=".AndroidDatabaseManager"
            android:parentActivityName=".view.activity.SettingsActivity" />
    </application>

</manifest>